.c-services {
    width: 100%;
    display: block;
    background: white;
    font-family: $primary-font;

    &__content {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 260px;
        text-align: center;
    }

    //cada cubo 440px x 320px

    &__gallery {
        width: 100%;
    }

    &__gallery-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        :nth-child(2) {
            background: rgb(34, 192, 81);
        }
        :nth-child(4) {
            background: rgb(219, 56, 56);
        }
        :nth-child(6) {
            background: rgb(32, 182, 32);
        }
        :nth-child(7) {
            background: rgb(123, 85, 173);
        }
        :nth-child(9) {
            background: rgb(255, 157, 0);
        }
        :nth-child(11) {
            background: rgb(49, 76, 194);
        }
        @include mq (668px , 1024px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;

        }
        @include mq (0 , 668px) {
            display: block;
        }
        
    }


    &__gallery-items {
        height: 440px;
        display: flex;
        justify-content: center;
        align-items: center;
        &--greyer {
            position: relative;
            background:#e6e6e6
        }
        @include mq (668px , 1024px) {
           padding: 10px ;
             
         }
        

        
    }

    &__gallery-img-element {
        margin: 0 auto;
    }

    &__gallery-info {
        display:block;
    }

    &__gallery-titles {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        display: block;
        font-family: $primary-font;
        font-weight: bolder;
        font-size: $title-size;
        color: white;
        @include mq (668px , 1366px) {
            font-size: 30px ;
             
         }
    }

    
}