.c-testimonial {
    height: 660px;
    width: 100%;
    display: block;
    background: white;

    &__resume {
        text-align: center;
        margin: 0 auto;
        display: block;
        width: 67%;
        font-family: $primary-font;
    }

    &__big-text {
        text-align: center;
        margin: 0 auto;
        padding-top: 40px;
        max-height: 720px;
        max-width: 80%;
        font-size: 18px;
        line-height: 1.7;
        color: black;
    }

    &__text-bold {
        padding-top: 92px;
        font-size: 18px;
        font-weight: 900;
    }
}