.c-testimonial {
    width: 100%;
    display: block;
    background: white;

    &__resume {
        text-align: center;
        margin: 0 auto;
        display: block;
        width: $container-measure;
        font-family: $primary-font;
    }

    &__big-text {
        text-align: center;
        margin: 0 auto;
        padding-top: 30px;
        max-height: 720px;
        max-width: 80%;
        font-size: $text-size;
        line-height: 1.7;
        color: black;
    }

    &__text-bold {
        padding: 92px 0;
        font-size: $text-size;
        font-weight: 900;
    }
}