.c-works {
    width: 100%;
    background: #e6e6e6;
    display: flex;
    justify-content: center;


    &__container {
        width: $container-measure;
        height: 100%;
        text-align: center;
        font-family: $primary-font;
        font-weight: 500;
        
    }

    &__work-title {
        padding-top: 110px;
        font-size: $title-size;
        
    }

 
    &__apple {
        position: relative;
        margin: 0 auto;
        width: 85%;
        @include mq (0 , 668px) {
            display: none;
            margin: 0 auto;
        }
    }

    &__imac {
        width: 85%;
        margin: 0 auto;
        @include mq (0 , 668px) {
            display: none;
        }
        
    }

    &__smartphone {
       position: absolute;
       left: 0;
       bottom: 0;
       @include mq (0 , 668px) {
        width: 20%;
        margin: 0 auto;
       }
        
    }
   
}